@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #f4f7f6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

.separator::before {
  content: '•';
  color: white;
  padding: 0.4rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:active {
  color: blueviolet;
}

hr {
}

h1,h2,p,span{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
input{
  border: 0;
  margin: 0;
  background: none;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}
input:focus{
  outline: 0;
}